@tailwind base;
@tailwind components;
@tailwind utilities;

.condensed {
  font-family: "Mona Sans Condensed Extra Bold";
}

.semi-bold {
  font-family: "Mona Sans Semi Bold";
}

.title {
  @apply text-4xl text-black condensed lg:text-5xl;
}

.tiny-header {
  @apply text-xxs text-BrandGray;
}

.strong-text {
  @apply text-2xl condensed;
}

.gray-text {
  @apply text-2xl text-BrandGray;
}

.input-title {
  @apply block pt-8 pb-3 text-sm text-BrandDarkGray;
}

.text-input {
  @apply w-full p-2 mb-4 text-4xl text-black bg-transparent border-b rounded lg:text-2xl condensed border-BrandDivider focus:outline-none focus:ring-2 focus:ring-BrandForest;
}

.brand-button-disabled {
  @apply text-white bg-BrandGray;
}

.brand-button {
  @apply px-5 py-2 text-lg rounded bg-BrandYellow text-BrandForest hover:bg-BrandForest hover:text-BrandYellow;
}

.brand-cancel-button {
  @apply px-6 py-3 text-xl rounded text-BrandForest bg-BrandYellow hover:bg-BrandForest hover:text-BrandYellow focus:outline-none;
}

.modal-backdrop {
  z-index: 1000;
}

.modal {
  position: fixed !important;
  z-index: 9999 !important;
  background-color: rgba(36, 37, 41, 0.7) !important;
}

[data-tid="busy"] {
  background-color: rgba(36, 37, 41, 0.7) !important;
  z-index: 99999 !important;
}

.modal .content {
  left: 0 !important;
  right: 0 !important;
  background-color: theme("colors.BrandYellow") !important;
  border-radius: 8px;
  border: 1px solid #2e323a !important;
}

.modal .container {
  border-radius: 0px !important;
}

.file-upload-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
}

.btn-file-upload {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  display: block;
}

.times-button {
  @apply text-3xl text-black;
}

input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.modal-backdrop {
  z-index: 1000;
}

:root {
  --dialog-width: 90% !important;
  --dialog-max-width: 600px !important;
  --dialog-min-height: 100px !important;
  --dialog-height: auto !important;
  --dialog-max-height: 80vh !important;
  --dialog-border-radius: 1px !important;
}

input {
  background-color: #194b63;
  color: white;
}

@media (min-width: 480px) {
}

@media (min-width: 640px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1536px) {
}

@media (min-width: 1920px) {
}

.horizontal-divider {
  @apply self-stretch flex-shrink-0 h-px bg-BrandDivider;
}

.horizontal-divider-dark {
  min-height: 2px;
  @apply self-stretch flex-shrink-0 h-px bg-BrandDarkGreen;
}
